body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  width: 22rem;
  height: 37rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.block {
  display: block;
}

main {
  width: 22rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#account-selection,
#add-account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#accounts-dropdown {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  appearance: none;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

button:hover:enabled {
  background-color: #3700b3;
  color: white;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:enabled {
  background-color: #6200ea;
  color: white;
}

button:enabled:hover {
  background-color: #3700b3;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input {
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
