body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  min-width: 20rem;
  min-height: 37rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.welcome-section h3 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.welcome-section p {
  font-size: 1rem;
  margin: 0.5rem 0 1.5rem;
  text-align: center;
  color: #555;
}

#features {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.feature-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #007bff;
  background-color: #fff;
  padding: 0.7rem 1.5rem;
  border: 1px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.feature-link:hover {
  background-color: #007bff;
  color: #fff;
  transform: translateY(-2px);
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  font-size: 0.8rem;
}
